
body {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin: 0;
      padding: 0;
      color: #636262;
      text-align: center;
      background-color:rgb(232, 224, 235);}

header {text-align: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 250px;
        padding: 10px;
        z-index: 50;
        background-color: rgb(238, 236, 236);}

main{width: 100%;
     height: auto;}
main a{color: rgb(211, 144, 241); 
       text-decoration: none;
       transition: color 0.3s;}
    
.nombre {color:rgb(154, 136, 185);
         font-size: 1.3em;
         padding: 10px;     
         text-align: center;
         width: 70%;
         height: auto;
         align-items: center;
         justify-content: center;}

.caja {display: flex;
       align-items: center;
       justify-content: flex-start;
       gap: 20px; /* separación entre logo y h1 */
       padding: 10px;
       height: 150px;}

.logo img{max-height: 150px;
          height: auto;
          width: auto;
          border-radius: 50%;
          box-shadow: 5px 5px 10px rgb(99, 97, 97), -5px -5px 10px gray;}

nav{padding: 5px;   
    max-width: 80%;
    height: auto;
    display: inline-flex;}

nav a{display: inline-flex;
      padding: 5px;
      margin-right: 35px;
      text-decoration: none;
      color: rgb(153, 112, 163);}
nav a:hover{box-shadow: inset 5px 5px 10px rgb(141, 140, 140), inset -5px -10px rgb(150, 144, 144);}

.boton{display: inline-flex;
       cursor: pointer;
       text-decoration: none;
       font-size: x-small;
       border-radius: 15px;    
       background-color: #ececec;
       box-shadow: 5px 5px 10px rgb(99, 97, 97), -5px -5px 10px gray;
       transition: background-color 0.3s;}
.menu{text-align: center;
     max-width: 100%;
display: inline-flex;}      
.menu.boton{display: inline-flex;
            cursor: pointer;
            text-decoration: none;
            font-size: x-small;
            border-radius: 15px;          
            background-color: #ececec;
            box-shadow: 5px 5px 10px rgb(99, 97, 97), -5px -5px 10px gray;}

.botonT{display: inline-flex;
        cursor: pointer;
        color: rgb(153, 112, 163);        
        justify-content: center;       
        align-items: center;
        text-decoration: none;
        font-size: large;
        padding: 5px;
        font-weight: bold;
        width: 240px;
        height: auto;
        margin: 5px;
        border-radius: 15px;
        background-color: #ececec;
        box-shadow: 5px 5px 10px rgb(99, 97, 97), -5px -5px 10px gray;
        transition: background-color 0.3s;}

.botonT:hover{box-shadow: inset 5px 5px 10px rgb(141, 140, 140), inset -5px 10px rgb(150, 144, 144);}
.boton:not(:has(#google_translate_element)){font-size: 20px;}
.boton:hover{box-shadow: inset 5px 5px 10px rgb(141, 140, 140), inset -5px 10px rgb(150, 144, 144);}


#google_translate_element .boton{font-size: 0;}

.seccion{background-size: cover;
         background-position: center;
         position: relative;
         padding: 10px 10px;
         margin: auto;}
.overlay{position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: rgba(0,0,0,0.4);} /* oscurece imagen para que el texto se lea */
         
#contacto .contenido{margin-right: 600px;}
.contenido{color: #ffffff;
           max-width: 90%;
           margin: auto;
           font-size: 1.6em;
           line-height: 1.6;/*espacio entre lineas para facilitar la lectura*/          
           position: relative;
           z-index: 2;} /*Esto asegura que el texto esté por encima de la imagen de fondo (overlay)*/
ul{list-style: none;}

strong {color:rgb(234, 207, 234);} 

#promo{display: none;
       position:fixed; 
       bottom:10px; 
       margin-right:10px; 
       background:#ececec; 
       padding:15px; 
       border-radius:8px; 
       z-index:999;}/*z-index se utiliza para controlar el orden de apilamiento de los elementos posicionados*/

form{max-width: 600px;
     margin: auto;}
form input, textarea{width: 100%;
                     padding: 10px;
                     margin: 8px 0 20px;                   
                     border-radius: 20px;
                     box-shadow: 5px 5px 10px rgb(184, 182, 182), -5px -5px 10px rgb(159, 157, 157);}
button {cursor: pointer;
        text-decoration: none;
        border: none;
        font-size: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;     
        width: 150px;
        height: auto;
        padding: 5px 10px;
        margin: 10px 0;
        background-color:#ececec;
        color: rgb(153, 112, 163);           
        border-radius: 15px;        
        box-shadow: 5px 5px 10px rgb(184, 182, 182), -5px -5px 10px rgb(159, 157, 157);
        transition: background-color 0.3s;}
form button:hover{box-shadow: inset 5px 5px 10px rgb(141, 140, 140), inset -5px 10px rgb(150, 144, 144);}

.galeria{display: flex;
         flex-wrap: wrap;
         justify-content: center;
         gap: 20px;
         padding: 20px;}
.galeria img {width: 300px;
              height: 190px;
              margin: 20px;
              object-fit: cover;
              box-shadow: 10px 10px 15px rgb(99, 97, 97), -10px -10px 15px gray;
              border-radius: 15px;}
img:active{cursor: pointer;
           opacity: 90%; 
           transform: scale(1.4);
           box-shadow: inset 5px 5px 10px rgb(141, 140, 140), inset -5px-5px 10px rgb(150, 144, 144);}

footer{padding: 20px;
       margin: auto;
       background-color: rgb(238, 236, 236);}

.redesSociales{display: flex;
               justify-content: center;
               gap: 1.5em;
               margin-top: 1em;}
.redesSociales a{border-radius: 15px;
                 border: none;
                 background-color: #ececec;
                 box-shadow: 5px 5px 10px rgb(99, 97, 97), -5px -5px 10px gray;
                 color: rgb(153, 112, 163);
                 padding: 0.5em 1em;               
                 text-decoration: none;
                 font-weight: bold;
                 display: flex;
                 align-items: center;
                 gap: 0.5em;
                 transition: background-color 0.3s;}
.redesSociales a:hover{box-shadow: inset 5px 5px 10px rgb(141, 140, 140), inset -5px 10px rgb(150, 144, 144);}
.derechos{font-weight: bold;}
.diseño{color:#7a558b;
        text-align: right;
        font-size: small;
        font-weight: bold;}

          /* /*Dispositivos pequeños (hasta 480px)
              @media screen and (max-width: 480px) 
              {header .caja{flex-direction: column; 
                            align-items: center;}
             .logo img{max-height:100px; 
                               width: 100px; 
                               margin-bottom: 10px;}
              nav {flex-direction: column; 
                     align-items: center;}
              .menu a.boton {display: block; 
                            width: 90%; 
                            margin: 8px 0; 
                            font-size: 1em;}/* 1em = 16px */
             /* .seccion{padding: 10px;}
              .contenido{font-size: 1.2em;
                     line-height: 1.4;}/*1.4 veces el tamaño de fuente de ese elemento*/
             /*footer .redesSociales{flex-direction: column; 
                                    gap: 10px;}}*/

              /*Dispositivos medianos (hasta 768px)*/       
                     @media (max-width: 768px) 
                     {body{font-size: 16px;}
                     .caja{padding: 10px;}
                     header h1 {font-size: 20px;
                            text-align: center;
                            padding: 10px;}
                     nav{flex-direction: column;
                         align-items: center;}
                     nav .boton{display: block;
                            margin: 5px 0;
                            width: 90%;
                            text-align: center;}
                     .menu a.boton{font-size: 1.1em;}
                     .seccion{background-size: cover;
                              background-position: center;}             
                     .contenido{padding: 20px;
                            font-size: 16px;
                            max-width: 95%;}
                     form input, form textarea, form button
                            {width: 100%;
                            font-size: 16px;}             
                     footer .redesSociales a
                            {display: block;
                            margin: 10px 0;
                            font-size: 16px;}}
                     /* Menú hamburguesa accesible en móvil */       
                    /* .menu{display: none;} /* se activa tu botón móvil/hamburguesa */
                     /*.menu.activo{display: flex; 
                                 flex-direction: column;}*/
                            
              /*Pantallas grandes / medianas (481px–1024px)*/
                    /* @media screen and (min-width: 481px) and (max-width: 1024px) 
                     {header .caja{flex-wrap: wrap; 
                                   justify-content: space-between;}
                     nav{justify-content: center;}}*/
                    

                  /*Escritorio normal (>=1025px)*/
                      /* @media screen and (min-width: 1025px) 
                       {.contenido { max-width: 70%; margin: auto;}}*/




